{% extends "base.html" %}

{% block title %}Jobs{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Jobs</h1>
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col" style="width: 15%;">Job Name</th>
                    <th scope="col">Status</th>
                    <th scope="col">Latest Operation</th>
                    <th scope="col">Container Image</th>
                    <th scope="col">Containers</th>
                    <th scope="col">Duration in Seconds</th>
                    <th scope="col">Kafka Topic</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody id="job-list">
                <!-- Job rows will be inserted here by JavaScript -->
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
    const socket = new WebSocket('ws://localhost:8000/ws/job/');

    socket.onopen = function(e) {
        console.log('WebSocket connection established');
        // Request job data
        socket.send(JSON.stringify({ type: 'fetch_jobs' }));
    };

    socket.onmessage = function(e) {
        const data = JSON.parse(e.data);
        if (data.type === 'job_list') {
            console.log('Received job data:', data.jobs);
            renderJobs(data.jobs);
        } else if (data.type === 'error') {
            console.error('Error:', data.message);
        }
    };

    socket.onclose = function(e) {
        console.log('WebSocket connection closed');
    };

    socket.onerror = function(e) {
        console.error('WebSocket error:', e);
    };

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    const csrftoken = getCookie('csrftoken');

    function renderJobs(jobs) {
        const jobList = document.getElementById('job-list');
        jobList.innerHTML = ''; // Clear existing jobs

        jobs.forEach(job => {
            const jobRow = document.createElement('tr');
            jobRow.setAttribute('data-job-id', job.id);

            // Job name
            const jobNameCell = document.createElement('td');
            const jobNameLink = document.createElement('a');
            jobNameLink.href = `/job_handler/job_detail/${job.id}/`; // Set the href to the detail view URL
            jobNameLink.textContent = job.name;
            jobNameCell.appendChild(jobNameLink);
            jobRow.appendChild(jobNameCell);

            // Job status
            const jobStatusCell = document.createElement('td');
            jobStatusCell.textContent = job.status;
            jobRow.appendChild(jobStatusCell);

            // Latest operation
            const jobOperationCell = document.createElement('td');
            jobOperationCell.textContent = job.latest_operation;
            jobRow.appendChild(jobOperationCell);

            // Container image
            const jobContainerImageCell = document.createElement('td');
            jobContainerImageCell.textContent = job.container_image_name;
            jobRow.appendChild(jobContainerImageCell);

            // Number of containers
            const jobNumberOfContainersCell = document.createElement('td');
            jobNumberOfContainersCell.textContent = job.container_number;
            jobRow.appendChild(jobNumberOfContainersCell);

            // Container computation time in seconds
            const jobComputationDuration = document.createElement('td');
            jobComputationDuration.textContent = job.computation_duration_in_seconds;
            jobRow.appendChild(jobComputationDuration);

            // Job IoT kafka topic
            const jobIoTKafkaTopicCell = document.createElement('td');
            jobIoTKafkaTopicCell.textContent = job.iot_data_kafka_topic;
            jobRow.appendChild(jobIoTKafkaTopicCell);

            // Action Cell including the start, stop, and delete button
            const jobActionsCell = document.createElement('td');
            jobActionsCell.innerHTML = `
                <button class="btn btn-success btn-sm me-2" onclick="startJob(${job.id})">Start</button>
                <button class="btn btn-warning btn-sm me-2" onclick="stopJob(${job.id})">Stop</button>
                <button class="btn btn-danger btn-sm" onclick="deleteJob(${job.id})">Delete</button>
            `;
            jobRow.appendChild(jobActionsCell);

            jobList.appendChild(jobRow);
        });
    }

    function startJob(jobId) {
        fetch(`/job_handler/start_job/${jobId}/`, {
            method: 'POST',
            headers: {
                'X-CSRFToken': csrftoken,
            },
        })
        .then(response => response.json())
        .then(data => {
            console.log('Job started:', data);
        })
        .catch(error => {
            console.error('Error starting job:', error);
        });
    }

    function deleteJob(jobId) {
        if (confirm('Are you sure you want to delete this job?')) {
            fetch(`/job_handler/delete_job/${jobId}/`, {
                method: 'DELETE',
                headers: {
                    'X-CSRFToken': csrftoken,
                },
            })
            .then(response => response.json())
            .then(data => {
                console.log('Job deleted:', data);
            })
            .catch(error => {
                console.error('Error deleting job:', error);
            });
        }
    }

    function stopJob(jobId) {
    fetch(`/job_handler/stop_job/${jobId}/`, {
        method: 'POST',
        headers: {
            'X-CSRFToken': csrftoken,
        },
    })
    .then(response => response.json())
    .then(data => {
        console.log('Job stopped:', data);
        if (data.status !== 'success') {
            alert(data.message);
        }
    })
    .catch(error => {
        console.error('Error stopping job:', error);
    });
}
</script>
{% endblock %}