{% extends "base.html" %}

{% block title %}Job Details{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h1 class="mb-4">Job Detail</h1>
        <div class="card mb-4">
            <div class="card-header">
                Job Information
            </div>
            <div class="card-body">
                <h5 class="card-title">{{ job.name }}</h5>
                <p class="card-text"><strong>Status</strong></p>
                <p class="card-text">{{ job.status }}</p>
                <p class="card-text"><strong>Container Image Name</strong></p>
                <p class="card-text">{{ job.container_image_name }}</p>
                <p class="card-text"><strong>Container Resource Limits</strong></p>
                <div class="row">
                    <div class="col-md-6">
                        <p class="card-text"><strong>CPU</strong> {{ job.container_cpu_limit }}</p>
                    </div>
                    <div class="col-md-6">
                        <p class="card-text"><strong>Memory</strong> {{ job.container_memory_limit_in_mb }} MB</p>
                    </div>
                </div>
                <p class="card-text"><strong></strong></p>
                <p class="card-text"><strong>Computation Duration</strong></p>
                <p class="card-text">{{ job.computation_duration_in_seconds }} Seconds</p>
                <p class="card-text"><strong>Inital scheduled Start Time in UTC</strong></p>
                {% if job.computation_start_time %}
                    <p class="card-text">{{ job.computation_start_time }}</p>
                {% else %}
                    <p class="card-text">No Schedule set</p>
                {% endif %}
                <p class="card-text"><strong>IoT data kafka topic</strong></p>
                <p class="card-text">{{ job.iot_data_kafka_topic }}</p>
                <p class="card-text"><strong>Description</strong></p>
                <p class="card-text">{{ job.description }}</p>
            </div>
        </div>

        <div class="card mb-4">
            <div class="card-header">
            Environment Variables
            </div>
            <div class="card-body">
            {% if not enviroment_variables %}
                <p class="card-text">No environment variables set for this job.</p>
            {% else %}
                <table class="table">
                <thead>
                    <tr>
                    <th scope="col">Variable Name</th>
                    <th scope="col">Variable Value</th>
                    </tr>
                </thead>
                <tbody>
                    {% for env_var in enviroment_variables %}
                    <tr>
                        <td>{{ env_var.variable_name }}</td>
                        <td>{{ env_var.variable_value }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
                </table>
            {% endif %}
            </div>
        </div>

        <div class="card mb-4">
            <div class="card-header">
                Agent
            </div>
            <div class="card-body">
                {% if agent %}
                    <ul class="list-group">
                        <li class="list-group-item">
                            <strong>Agent ID</strong> {{ agent.docker_agent_id }}<br>
                            <strong>Status</strong> {{ agent.status }}<br>
                            <strong>Kafka Timestamp</strong> {{ agent.kafka_timestamp }}<br>
                        </li>
                    </ul>
                {% else %}
                    <p class="card-text">Job is not deployed on an agent</p>
                {% endif %}
            </div>
        </div>

        <div class="card mb-4">
            <div class="card-header">
                Containers
            </div>
            <div class="card-body">
                {% if containers %}
                    <ul class="list-group">
                        {% for container in containers %}
                            <li class="list-group-item">
                                <strong>Container ID</strong> {{ container.docker_container_id }}<br>
                                <strong>Status</strong> {{ container.status }}<br>
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p class="card-text">Job is not running. No containers associated with this job.</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}