{
"operation": "{{ operation }}", {# either create or delete #}
"state": "{{ state }}", {# either successful or unsucessful #}
"container_image_name": "{{ container_image_name }}",
"container_id": "{{ container_id }}", {# list of started container(s) #}
"metadata": {
    "job_id": "{{ job_id }}",
    "agent_id": "{{ agent_id }}", {# set globally, callable in template #}
    "timestamp": "{{ get_timestamp() }}" {# set globally, callable in template #}
    }
}